/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
// @import "./common/visually-hidden.scss";


/* BLOCKS */
// @import "./blocks/page.scss";
// @import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
// @import "./blocks/main-container.scss";
@import "./blocks/hero.scss";
@import "./blocks/programs.scss";
@import "./blocks/advantages.scss";
@import "./blocks/stats.scss";
@import "./blocks/contacts.scss";
@import "./blocks/main-footer.scss";
// @import "./blocks/social.scss";
@import "./blocks/basis-card.scss";
@import "./blocks/more.scss";
@import "./blocks/additional-card.scss";
@import "./blocks/subscription.scss";
