.advantages__title {
  @include title (36px, 40px);
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    @include title (60px, 60px);
    margin-bottom: 32px;
  }
}

.advantages__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: $basic-bg-color;
  display: block;
  position: absolute;
  left: 0;
  top: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: 40px;
  }
}

.advantages__item--composition::before {
  background-image: url("../../icons/composition-advantage.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;

}

.advantages__item--form::before {
  background-image: url("../../icons/form-advantage.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.advantages__item--addition::before {
  background-image: url("../../icons/addition-advantage.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.advantages__item--time::before {
  background-image: url("../../icons/time-advantage.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 249px 249px;
    grid-template-rows: auto auto;
    gap: 37px 135px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 37px 79px;
  }
}

.advantages {
  padding: 0 20px 29px;

  @media (min-width: $tablet-width) {
    padding-bottom: 47px;
    border-bottom: 1px solid #E6E6E6;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 32px;
    border-bottom: inherit;
  }
}

.advantages__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 249px;
    min-height: 280px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
    width: 249px;
  }
}

.advantages__description {
  margin: 0;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 131px;
    padding-left: 0;
  }
}
