.advantages__title {
  @include title (36px, 40px);
}

.advantages__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: $basic-bg-color;
  display: block;
}

.advantages__item--composition::before {
  background-image: url("../../icons/composition-advantage.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 15px 50%;
  z-index: 2;
}

.advantages__item--form::before {
  background-image: url("../../icons/form-advantage.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 15px 50%;
  z-index: 2;
}

.advantages__item--addition::before {
  background-image: url("../../icons/addition-advantage.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 15px 50%;
  z-index: 2;
}

.advantages__item--time::before {
  background-image: url("../../icons/time-advantage.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 15px 50%;
  z-index: 2;
}
