.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    min-height: 580px;
  }
}

.hero::before {
  content: "";
  height: 302px;
  width: 100%;
  background-image: url(../../images/bg-cat-mobile@1x.png);
  background-size: 320px 302px;
  // background-position: 50% 0;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  background-color:#808080;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    background-image: url(../../images/bg-cat-destop@1x.png);
    background-size: 1041px 694px;
    height: 694px;
    top: -114px;
    left: 720px;
  }
}

.hero::after {
  content: "";
  height: 302px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-color: $basic-bg-color;
  opacity: 85%;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    height: 694px;
    top: -114px;
    left: 720px;
  }
}

.hero-container {
  text-align: center;
  padding: 27px 15px 29px 14px;
  z-index: -1;
  min-height: 111px;

  @media (min-width: $tablet-width) {
    text-align: inherit;
    padding: 20px 90px 21px;
    min-height: 185px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 80px 52px;
    width: 420px;
  }
}

.hero__title {
  @include title (36px, 36px, $light-color);
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $dark-color;
    margin-bottom: 40px;
  }
}

.hero__slogan {
  @include title (14px, 14px, $light-color);
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $dark-color;
  }
}

.hero__image {
  height: 270px;

  @media (min-width: $tablet-width) {
    height: 609px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    height: 499px;
    position: absolute;
    top: 29px;
    left: 557px;
  }
}

.hero__image img {
  display: block;
  height: 270px;
  width: 280px;

  @media (min-width: $tablet-width) {
    height: 609px;
    width: 709px;
  }

  @media (min-width: $desktop-width) {
    height: 499px;
    width: 552px;
  }
}

.hero-link {
  @include button(16px, 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 526px;
    left: 120px;
    width: 242px;
    height: 54px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    width: 244px;
    margin-left: 80px;
  }
}

