.main-nav__list {
  @include title(20px, 20px);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 24px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    color: $light-color;
  }
}

.main-nav__item:last-child {
  border-bottom: 1px solid #E6E6E6;

  @media (min-width: $tablet-width) {
    border-bottom: inherit;
  }
}

.main-nav__item {
  padding: 0 20px;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #E6E6E6;
  text-align: center;

  @media (min-width: $tablet-width) {
    border-top: inherit;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    color: $light-color;
  }
}

.main-nav__toggle {
  padding: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 7;
  background-repeat: no-repeat;
  background-color: inherit;
}

.main-nav--close .main-nav__toggle {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/close-menu-mobile.svg");
  background-size: 24px 24px;
  top: -50px;
  right: 0;
}

.main-nav--open .main-nav__toggle {
  width: 18px;
  height: 18px;
  background-image: url("../../icons/open-menu-mobile.svg");
  background-size: 18px 18px;
  top: -48;
  right: 0;
}

.main-nav__link {
  text-decoration: none;
  color: inherit;
}

.main-nav {
  position: relative;
  width: 100%;
}

.main-nav__link--current {
  position: relative;
}


@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__link--current::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $basic-bg-color;
    bottom: -8px;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link--current::after {
    background-color: $light-color;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--open .main-nav__item {
    display: none;
  }

  .main-nav--close .main-nav__container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: $light-color;
    width: 100%;
  }
}

