.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.6;
}

.main-header {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 75px;
  }

  @media (min-width: $desktop-width) {
    gap: 543px;
  }
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  height: 66px;
  background-color:blue;

  @media (min-width: $tablet-width) {
    height: 49px;
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
    padding-top: 105px;
  }
}

.main-header__logo img {
  height: 38px;
  width: 190;
  margin-top: 13px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    height: 50px;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
    width: 202px;
  }
}
