.main-footer__copyright-text {
  font-size: 16px;
  line-height: 20px;
}

.main-footer__logo-link {
  display: block;
  text-decoration: none;
}

.main-footer__copyright-link {
  display: block;
  text-decoration: none;
  position: relative;
  color: inherit;
}

.main-footer__copyright-link::before {
  content: "";
  width: 27px;
  height: 34px;
  display: block;
  background-color: #666666;
  mask-image: url("../../icons/logo-html.svg");
  mask-repeat: no-repeat;
  mask-size: 27px 34px;
  position: absolute;
  top: 0;
  right: 0;
}

.main-footer__copyright-link:hover::before, .main-footer__copyright-link:active::before {
  background-color: $basic-bg-color;
}

.main-footer__copyright-link:active {
  opacity: 0.3;
}

.main-footer__logo-link:hover {
  opacity: 0.8;
}

.main-footer__logo-link:active {
  opacity: 0.6;
}
