.main-nav__list {
  @include title(20px, 20px);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: red;
 }

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #E6E6E6;
  text-align: center;
}

.main-nav__toggle--сlose {
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  background-color: inherit;
  background-image: url("../../icons/close-menu-mobile.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  margin-top: 20px;
  margin-bottom: 21px;
  cursor: pointer;
}

.main-nav__toggle--open {
  padding: 0;
  border: none;
  width: 18px;
  height: 18px;
  background-color: inherit;
  background-image: url("../../icons/open-menu-mobile.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  margin-top: 23px;
  margin-bottom: 25px;
  cursor: pointer;
}

.main-nav__link {
  text-decoration: none;
  color: inherit;
}

.main-nav {
  flex-grow: 1;
}

.main-nav__button-selection {
  @include button(16px, 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.main-nav__image img {
  width: 280;
  height: 270px;
}

.main-nav__image {
  height: 270px;
  position: absolute;
  top: -32px;
  left: 0;
}

.main-nav__item--selection {
  padding-bottom: 22px;
  padding-top: 241px;
  height: 40px;
  position: relative;
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 24px;
    justify-content: space-between;
  }

  .main-nav__item {
    padding-top: 39px;
    padding-bottom: 12px;
  }

  .main-nav__link--current::after {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $basic-bg-color;
    content: "";
    bottom: -8px;
    left: 0;
}
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    font-size: 20px;
    color: $light-color;
  }

  .main-nav__item {
    margin-top: 71px;
    margin-bottom: 18px;
  }

  .main-nav__link--current::after {
    background-color: $light-color;
  }
}
