.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.6;
}

.main-header {
  display: flex;
  flex-direction: column;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
  margin-bottom: 14px;
  align-items: center;
}

.main-header__logo {
  height: 38px;
  width: 190px;
}

@media (min-width: $tablet-width) {
  .main-header__container {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .main-header {
    flex-direction: row;
    gap: 75px;
  }

  .main-header__logo {
    height: 50px;
    width: 174px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    height: 59px;
    width: 202px;
  }

  .main-header {
    gap: 543px;
  }

  .main-header__container {
    margin-top: 55px;
  }
}
