.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.6;
}

.main-header {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 268px 1fr;
    padding: 27px 20px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 744px 1fr;
    padding: 55px 110px 0;
  }
}

.main-header__logo {
  display: block;
  height: 38px;
  padding: 13px 20px 15px;

  @media (min-width: $tablet-width) {
    height: 50px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.main-header__logo .img {
  height: 38px;
  width: 190;

  @media (min-width: $tablet-width) {
    height: 50px;
    width: 174px;

  }

  @media (min-width: $desktop-width) {
    height: 59px;
    width: 202px;
  }
}
