.programs__title {
  @include title (24px, 37px);
  text-transform: uppercase;
  margin: 0;
  padding-left: 90px;
  padding-bottom: 29px;
}

.programs {
  padding-top: 20px;
  padding-bottom: 20px;
}

.programs__description {
  width: 230px;
}

.programs__link {
  @include title (16px, 16px);
  text-transform: uppercase;
  position: relative;
}

.programs__item {
  position: relative;
  background-color: #D9D9D9;
  margin-bottom: 20px;
  padding: 30px 20px 18px;
  z-index: -500;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__item::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $basic-bg-color;
  position: absolute;
  top: 24px;
  left: 20px;
}

.programs__item--slim::after {
  content: "";
  width: 36px;
  height: 50px;
  position: absolute;
  top: 21px;
  left: 27px;
  background-image: url("../../icons/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: 36px 50px;
}

.programs__item--pro::after {
  content: "";
  width: 67px;
  height: 28px;
  position: absolute;
  top: 35px;
  left: 14px;
  background-image: url("../../icons/cat-pro.svg");
  background-repeat: no-repeat;
  background-size: 67px 28px;
}

.programs__link::after {
  content: "";
  width: 24px;
  height: 12px;
  background-image: url("../../icons/arrow.svg");
  position: absolute;
  top: 0;
  left: 0;

  // top: 0;
  // right: 8px;
  // margin-top: auto;
  // margin-bottom: auto;
}

@media (min-width: $tablet-width) {
  .programs__item {
    padding: 77px 63px 53px 52px;
  }

  .programs__title {
    @include title (36px, 36px);
    padding-left: 0;
    padding-bottom: 24px;
  }

  .programs__description {
    width: 320px;
    padding-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
  }

  .programs__link {
    @include title (20px, 20px);
  }


  .programs__item--slim {
    background-position: 475px 81px;
    background-size: 140px 194px;
  }

  .programs__item--pro {
    background-position: 411px 135px;
    background-size: 268px 112px;
  }

  .programs__item::before {
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $basic-bg-color;
    position: absolute;
    top: 92px;
    left: 445px;

  }
  .programs {
    padding-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }
  .programs__item {
    width: 50%;
    padding: 77px 61px 55px 52px;
  }

  .programs__title {
    padding-left: 214px;
    padding-bottom: 24px;
  }

  .programs__description {
    padding-bottom: 23px;
    width: 457px;
  }

  .programs__item--slim {
    background-position: 67px 41px;
    background-size: 70px 97px;
  }

  .programs__item--pro {
    background-position: 33px 67px;
    background-size: 134px 56px;
  }

  .programs__item::before {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $basic-bg-color;
    position: absolute;
    top: 47px;
    left: 52px;
    z-index: 2;
  }
  .programs {
    padding-top: 32px;
    padding-bottom: 71px;
  }
}
