.programs__title {
  @include title (24px, 37px);
  text-transform: uppercase;
}

.programs__link {
  @include title (16px, 16px);
  text-transform: uppercase;

  position: relative;
}

.programs__item {
  position: relative;
}

.programs__item--slim {
  background-image: url("../../icons/cat-slim.svg");
  background-repeat: no-repeat;
  background-position: 27px 21px;
  background-size: 36px 50px;
}

.programs__item--pro {
  background-image: url("../../icons/cat-pro.svg");
  background-repeat: no-repeat;
  background-position: 13px 35px;
  background-size: 67px 28px;
}


.programs__item::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $basic-bg-color;
  position: absolute;
  top: 24px;
  left: 20px;
  z-index: -1;
}

.programs__link::after {
  content: "";
  width: 24px;
  height: 12px;
  background-image: url("../../icons/arrow.svg");
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8px;
  margin-top: auto;
  margin-bottom: auto;
}
